# Rust
/target/
**/*.rs.bk

# Cargo
.cargo/

# Visual Studio Code
.vscode/
!.vscode/settings.json
*.code-workspace
.history/

# JetBrains
.idea/

# Logs
*.log

# Archives and distributions
/dist/

# Coverage
/coverage/

# Environment files
.env*

# Vault data
/vault/**

# Databases
/*.db
